<div *ngIf="loading; else loadingBlock" >
    <app-loading class="text-center"></app-loading>
</div>

<ng-template #loadingBlock>

    <div class="animated fadeIn" *ngIf="viewPhoto; else elseblock">

        <div class="row">
            <div class="col-md-12">
                <div [ngStyle]="{'background-image':'url('+ photos[indexPhoto].url +')'}" class="img-container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 caption-row">
                <span id = "caption">
                    {{ photos[indexPhoto].title }}
                </span>
            </div>
            <button class="btn btn-outline-primary" (click)= "viewPhoto = false" >back</button>
            <button [hidden]="!myProfile" class="btn btn-outline-danger" (click)= "viewPhoto = false" >delete</button>
        </div>
    </div>

    <ng-template #elseblock>
        <ul class="animated fadeIn thumbnailsList">
            <li *ngFor="let photo of photos; let i=index">
                <a (click)="viewPhotoDetail( i )" >
                    <img src="{{photo.thumbnailUrl}}" class="tn" width="200" height="160">
                </a>
            </li>
        </ul>
    </ng-template>

</ng-template>