<div *ngIf="loading, else loadingblock">
        <app-loading></app-loading>
</div>


<ng-template #loadingblock>

        <img [src]="avatarService.getAvatar( user[0].id )" alt="user[0].id" width="32" height="32">
        <p>{{ user[0].name }}</p>
        <p>{{ user[0].email }}</p>
        <p>{{ user[0].phone }}</p>
        <p>{{ user[0].company }}</p>
        <p>{{ user[0].website }}</p>
        <p>{{ user[0].address }}</p>

        <ul>
                <li>
                        <a [routerLink]="['/profile', user[0].id, 'albums']" class="btn btn-outline-dark">albums</a>
                </li>
                <li>
                        <a [routerLink]="['/profile' , user[0].id, 'posts']" class="btn btn-outline-dark">posts</a>
                </li>
                <li>
                        <a [routerLink]="['/profile' , user[0].id, 'todos']" class="btn btn-outline-dark">TODO's</a>
                </li>
        </ul>

</ng-template>
