<div class="container">

<div *ngIf="loading, else loadingblock">
    <app-loading class="text-center"></app-loading>
</div>


<ng-template #loadingblock>

    <!-- <div class="container mt-5"> -->
        <div class="row">
              <div class="col-xs-12 col-sm-9">
                
                <!-- User profile -->
                <div class="panel panel-default">

                  <div class="panel-body">
                    <div class="profile__avatar">
                      <img [src]="avatarService.getAvatar( user[0].id )" [alt]="user[0].name">
                    </div>
                    <div class="profile__header">
                    <br><br>
                      <h4>{{ user[0].username }} <small>{{ user[0].company.bs }}</small></h4>
                      
                      <p>
                        <a href="{{user[0].website}}">{{user[0].website}}</a>
                      </p>
                    </div>
                  </div>
                </div>
                            
                <!-- User info -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <h4 class="panel-title">User info</h4>
                  </div>
                  <div class="panel-body">
                    <table class="table profile__table">
                      <tbody>
                        <tr>
                            <th><strong>Name</strong></th>
                            <td>{{ user[0].name }}</td>
                        </tr>
                        <tr>
                          <th><strong>Location</strong></th>
                          <td> {{user[0].address.city}} </td>
                        </tr>
                        <tr>
                          <th><strong>Company name</strong></th>
                          <td>{{ user[0].company.name }} - "{{ user[0].company.catchPhrase }}"</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                            
                <!-- Community -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <h4 class="panel-title">Community</h4><br>
                  </div>
                  <div class="panel-body">
                        <a class="mx-1 btn btn-outline-primary btn-lg" [routerLink]="['/profile' , user[0].id, 'posts']">
                            <i class="fas fa-bullhorn fa-5x"></i>
                        </a>
                        <a class="mx-1 btn btn-outline-primary btn-lg" [routerLink]="['/profile', user[0].id, 'albums']">
                            <i class="fas fa-images fa-5x"></i>
                        </a>
                        <a class="mx-1 btn btn-outline-primary btn-lg" [routerLink]="['/profile' , user[0].id, 'todos']">
                            <i class="far fa-list-alt fa-5x"></i>
                        </a>
                  </div>
                </div>
                            
                </div>
                <div class="col-xs-12 col-sm-3">

                <hr class="profile__contact-hr">
                                    
                <!-- Contact info -->
                <div class="profile__contact-info">
                  <div class="profile__contact-info-item">
                    <div class="profile__contact-info-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div class="profile__contact-info-body">
                      <h5 class="profile__contact-info-heading">Work number</h5>
                      {{ user[0].phone }}
                    </div>
                  </div>
                  <div class="profile__contact-info-item">
                    <div class="profile__contact-info-icon">
                      <i class="fa fa-envelope-square"></i>
                    </div>
                    <div class="profile__contact-info-body">
                      <h5 class="profile__contact-info-heading">E-mail address</h5>
                      <a href="{{user[0].email}}">{{user[0].email}}</a>
                    </div>
                  </div>
                  <div class="profile__contact-info-item">
                    <div class="profile__contact-info-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="profile__contact-info-body">
                      <h5 class="profile__contact-info-heading">Work address</h5>
                      {{user[0].address.street}}
                    </div>
                  </div>
                    <hr class="profile__contact-hr">
                </div>
                            
              </div>
            </div>
        <!-- </div> -->

</ng-template>

</div>