
<div *ngIf="loading, else loadingblock">
    <app-loading class="text-center"></app-loading>
</div>


<ng-template #loadingblock>

	<div class="container mt-5">
	<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
		<div  *ngFor="let user of users" class="col">
			<div class="card radius-15">
				<div class="card-body text-center">
					<div class="p-4 border radius-15">

						<img [src]="avatarService.getAvatar( user.id )" width="110" height="110" 
						class="rounded-circle shadow" [alt]="user.id">

						<h5 class="mb-0 mt-5">{{ user.username }}</h5>
						
						<p class="mb-3">{{ user.email | slice:0:15 }}
							<span *ngIf="user.email.length >= 15">...</span>
						</p>
						
						<div class="d-grid"> 
							<a [routerLink]="['/profile', user.id]" class="btn btn-outline-primary radius-15">
								<i class="fas fa-id-card-alt"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

</ng-template>