<form [formGroup]="search" (ngSubmit)="searchPost(  )" style="margin-bottom: 25px;">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div class="p-2">
        <input class="form-control me-2 " type="search" placeholder="Search by title or user" aria-label="Search" formControlName="search">
      </div>
      <div class="p-2">
        <button class="btn btn-outline-dark fourth" type="submit">Search</button>
      </div>
    </div>
  </div>
</form>


<div class="animated fadeIn" *ngIf="!loading; else loadingBlock">

  <div *ngIf="myProfile">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      New post
    </button>
  
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            
            <div class="form">
              <form [formGroup]="postForm" (ngSubmit)="postSubmit()">          
              <input type="title" class="form-control" id="floatingTitle" placeholder="Title" formControlName="title">
              <input type="body" class="form-control" id="floatingBody" placeholder="Body" formControlName="body">
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" type="submit" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">Publish</button>
                </div>  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4"> 
      <div *ngFor="let post of posts, let i=index" class="col-sm-4">
        <div class="card border-info mb-4" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> Post #{{ i+1 }} </h5>
            <p class="card-text"> {{ post.title }} </p>
            <a [routerLink]="['/post', post.id]" class="btn btn-outline-primary">Read more</a>
            
            <a [hidden]="!myProfile" class="btn btn-outline-danger">delete</a>
      
          </div>
        </div>
      </div>
  </div>

</div>

<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>