  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a [routerLink]="['/posts']" class="nav-link" aria-current="page" href="#">Posts</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/albums']" class="nav-link" href="#">Albums</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/todos']" class="nav-link" href="#">TODOs</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/users']" class="nav-link" href="#">Users</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="{{ myProfileUrl() }}" >My Account</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" [routerLink]="['/login']">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>