<div class="animated fadeIn container" *ngIf="loading; else elseloading">

    <app-loading class="text-center"></app-loading>

</div>

<ng-template #elseloading>
    <a [routerLink]="['/profile', post[0].userId]" >

        <h1 class="animated fadeIn fast">
            <img [src]="avatarService.getAvatar( user[0].id )" alt="user[0].id" width="32" height="32">
            {{ user[0].username }}
        </h1>
    </a>

    <div class="row animated fadeIn fast">

        <div class="col-md-8">
            <p>
                <strong> {{ post[0].title }} </strong>
            </p>
            <p>
                {{ post[0].body }}
            </p>
            <hr>
            <button (click)="openComments(post[0].id)" class="btn btn-outline-primary">Comments</button>
        </div>
    </div>
</ng-template>