<div class="animated fadeIn" *ngIf="!loading; else loadingBlock">

  <div *ngIf="myProfile">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Add new Album
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="albumForm" (submit)="storageService.addNewAlbum(albumTitle.value, userId)">
              <input #albumTitle type="text" placeholder="Album title" class="form-control" type="form-control" >
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" form="albumForm" class="btn btn-success" data-bs-dismiss="modal">Accept</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let album of albums; let i=index" class="col-sm-4">
        <div class="card border-info mb-4" style="max-width: 18rem;">
          <div class="card-body">
            <a href=""></a>
            <h5 class="card-title"> #{{ [i+1] }} album</h5>
            <p class="card-text"> {{ album.title }} </p>
            <hr>
            <a [routerLink]="['/albums', album.id, 'photos']" class="btn btn-outline-success">View photos</a>
            <a [routerLink]="['/profile', album.userId]" class="btn btn-outline-primary">profile</a>
          </div>
        </div>
      </div>
  </div>

</div>

<ng-template #loadingBlock>
  <app-loading></app-loading>
</ng-template>